@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); 
  border-radius: 4px;
}